@charset "UTF-8";

/* 768~ */
@media screen and (min-width: 768px) {
  :root {
    --font-large: 32px;
  }

  header {
    height: 100px;
    padding: 0 32px;
  }
  .header__logo {
    font-size: 36px;
  }
  .header__user {
    right: 66px;
  }

  main {
    margin-left: 320px;
    flex: 1.5;
  }
  section,
  article {
    padding: 48px 0;
  }
  footer {
    margin-left: 320px;
  }

  .sub-header {
    display: block;
    position: fixed;
    top: 100px;
    bottom: 0;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-green);
  }
  .sub-header__logo {
    width: 200px;
    height: 200px;
  }

  /* Home */
  #home {
    padding: 32px;
  }
  .home__title__slogan {
    font-size: 48px;
  }
  .home__title__photo {
    width: 44%;
  }
  .home__categories__item {
    padding: 32px;
  }
  .category__photo {
    width: 128px;
  }
  .category__name {
    font-size: var(--font-large);
    margin: 16px;
  }
  .categoty__link {
    font-size: var(--font-regular);
  }

  .rewards__logo {
    width: 40%;
  }
  .carousel-cell {
    width: 66%;
  }

  .order__way {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .way {
    width: 48%;
  }
  .way__title {
    padding: 32px 0;
  }

  /* Coffee */
  .reserve__title {
    width: 30%;
  }
  .drink__photo,
  .recipe__color {
    width: 30%;
  }

  /* Menu */
  .searchbox__input {
    padding: 16px 48px;
  }
  .category__btn,
  .level__btn {
    height: 80px;
    font-size: var(--font-regular);
  }
  .menu__type {
    width: 90%;
    line-height: 40px;
  }
  .menu__item {
    width: 50%;
  }
  .menu__photo {
    width: 85%;
  }
  .menu__name {
    font-size: var(--font-regular);
  }

  /* Card */
  #card .introduce__photo {
    width: 50%;
  }
  #card .gallery__cards {
    justify-content: center;
    column-gap: 16px;
  }
  #card .card {
    width: 40%;
  }
  #slider label {
    width: 40%;
  }
}
